<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CarRental" connectionString="data source=.;initial catalog=CarRental;persist security info=True;Integrated Security=True;
         MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <configSections>

  </configSections>
</configuration>